header{
    background: rgba(255,255,255,0.4);
    height: 100px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
}
header *{
    margin-block: auto;

}

a {
    text-decoration: none;
    color: white;
}
.site_name{
    font-weight: bold;
    font-size: 55px;
    color: #363636;
}
